<section [ngClass]="{'loading': !taskList.length}"><!--vazio coloca a imagem-->

  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" >
      <input type="text" [(ngModel)]="item.task">

      <button (click)="deleteItemTaskList(i)"><!--Não esqueça de passar o (i)indice-->
        <img src="assets/icons/icon-trash.svg" alt="Icone ">
      </button>
        <!-- {{item | json}} vai mostrar na tela o objeto -->
    </li>
  </ul>

</section>

<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-todo-button-delete-all>
